In [210]:
# importo librerias
import pandas as pd
import numpy as np
import os

In [9]:
#ejecutar en caso no exista la data en el entorno
csv_path='../files/rating.csv'
s3_path='s3://anime-recommender/rating.csv'
if os.path.isfile(csv_path):
    rating = pd.read_csv(csv_path, sep=',')
else:
    rating = pd.read_csv(s3_path, sep=',')
    rating.to_csv(csv_path)

In [10]:
rating.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7813737 entries, 0 to 7813736
Data columns (total 3 columns):
user_id     int64
anime_id    int64
rating      int64
dtypes: int64(3)
memory usage: 178.8 MB

In [11]:
rating.shape

(7813737, 3)

In [12]:
rating.head()

   user_id  anime_id  rating
0        1        20      -1
1        1        24      -1
2        1        79      -1
3        1       226      -1
4        1       241      -1

In [83]:
# importo los anime
#ejecutar en caso no exista la data en el entorno
csv_path='../files/anime.csv'
s3_path='s3://anime-recommender/anime.csv'
if os.path.isfile(csv_path):
    anime = pd.read_csv(csv_path, sep=';')
else:
    anime = pd.read_csv(s3_path, sep=';')
    anime.to_csv(csv_path)

In [84]:
anime.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 12294 entries, 0 to 12293
Data columns (total 7 columns):
anime_id    12294 non-null int64
name        12294 non-null object
genre       12247 non-null object
type        12269 non-null object
episodes    12294 non-null object
rating      12064 non-null object
members     12294 non-null int64
dtypes: int64(2), object(5)
memory usage: 672.5+ KB

In [85]:
anime.shape

(12294, 7)

In [86]:
rating.describe()

            user_id      anime_id        rating
count  7.813737e+06  7.813737e+06  7.813737e+06
mean   3.672796e+04  8.909072e+03  6.144030e+00
std    2.099795e+04  8.883950e+03  3.727800e+00
min    1.000000e+00  1.000000e+00 -1.000000e+00
25%    1.897400e+04  1.240000e+03  6.000000e+00
50%    3.679100e+04  6.213000e+03  7.000000e+00
75%    5.475700e+04  1.409300e+04  9.000000e+00
max    7.351600e+04  3.451900e+04  1.000000e+01

In [87]:
rating.head()

   user_id  anime_id  rating
0        1        20      -1
1        1        24      -1
2        1        79      -1
3        1       226      -1
4        1       241      -1

In [88]:
agg_anime = rating.groupby(['anime_id']).agg(cant_rating = ('rating','count'),
                                             mean_rating = ('rating','mean'),
                                             min_rating = ('rating','min'),
                                             max_rating = ('rating','max'))
agg_anime.reset_index(inplace=True)

In [89]:
agg_anime.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 11200 entries, 0 to 11199
Data columns (total 5 columns):
anime_id       11200 non-null int64
cant_rating    11200 non-null int64
mean_rating    11200 non-null float64
min_rating     11200 non-null int64
max_rating     11200 non-null int64
dtypes: float64(1), int64(4)
memory usage: 437.6 KB

In [90]:
agg_anime.head()

   anime_id  cant_rating  mean_rating  min_rating  max_rating
0         1        15509     7.558514          -1          10
1         5         6927     6.890284          -1          10
2         6        11077     6.980590          -1          10
3         7         2629     6.040320          -1          10
4         8          413     5.113801          -1          10

In [91]:
stats_anime = pd.DataFrame.copy(agg_anime)
stats_anime.head()

   anime_id  cant_rating  mean_rating  min_rating  max_rating
0         1        15509     7.558514          -1          10
1         5         6927     6.890284          -1          10
2         6        11077     6.980590          -1          10
3         7         2629     6.040320          -1          10
4         8          413     5.113801          -1          10

In [92]:
anime.head()

,anime_id,name,genre,type,episodes,rating,members
0,32281,Kimi no Na wa.,"Drama, Romance, School, Supernatural",Movie,1,"9,37",200630
1,5114,Fullmetal Alchemist: Brotherhood,"Action, Adventure, Drama, Fantasy, Magic, Mili...",TV,64,"9,26",793665
2,28977,Gintama°,"Action, Comedy, Historical, Parody, Samurai, S...",TV,51,"9,25",114262
3,9253,Steins;Gate,"Sci-Fi, Thriller",TV,24,"9,17",673572
4,9969,Gintama&#039;,"Action, Comedy, Historical, Parody, Samurai, S...",TV,51,"9,16",151266

In [93]:
anime['genre_list'] = anime['genre'].str.split(',')
anime.head()

,anime_id,name,genre,type,episodes,rating,members,genre_list
0,32281,Kimi no Na wa.,"Drama, Romance, School, Supernatural",Movie,1,"9,37",200630,"[Drama, Romance, School, Supernatural]"
1,5114,Fullmetal Alchemist: Brotherhood,"Action, Adventure, Drama, Fantasy, Magic, Mili...",TV,64,"9,26",793665,"[Action, Adventure, Drama, Fantasy, Magic,..."
2,28977,Gintama°,"Action, Comedy, Historical, Parody, Samurai, S...",TV,51,"9,25",114262,"[Action, Comedy, Historical, Parody, Samur..."
3,9253,Steins;Gate,"Sci-Fi, Thriller",TV,24,"9,17",673572,"[Sci-Fi, Thriller]"
4,9969,Gintama&#039;,"Action, Comedy, Historical, Parody, Samurai, S...",TV,51,"9,16",151266,"[Action, Comedy, Historical, Parody, Samur..."

In [258]:
genre = anime['genre_list']
genre

0                [Drama,  Romance,  School,  Supernatural]
1        [Action,  Adventure,  Drama,  Fantasy,  Magic,...
2        [Action,  Comedy,  Historical,  Parody,  Samur...
3                                      [Sci-Fi,  Thriller]
4        [Action,  Comedy,  Historical,  Parody,  Samur...
                               ...
12289                                             [Hentai]
12290                                             [Hentai]
12291                                             [Hentai]
12292                                             [Hentai]
12293                                             [Hentai]
Name: genre_list, Length: 12294, dtype: object

In [259]:
type(genre)

pandas.core.series.Series

In [260]:
genre = genre.sort_values()

In [261]:
type(genre)

pandas.core.series.Series

In [262]:
genre

3651     [Action]
10459    [Action]
7894     [Action]
7308     [Action]
7029     [Action]
           ...
10424         NaN
10575         NaN
10719         NaN
10807         NaN
10863         NaN
Name: genre_list, Length: 12294, dtype: object

In [263]:
tmp_genre = []
for i in genre:
    if type(i) == list:
        for j in i:
            j = j.strip().replace(' ','_').replace(chr(10),'_').replace('-','_')
            if j not in tmp_genre:
                tmp_genre.append(j)
genre = tmp_genre

In [264]:
len(tmp_genre)

46

In [265]:
print(f"El total de generos de anime es {len(genre)}")

El total de generos de anime es 46

In [266]:
# cuento la cantidad de anime por categoría y sumo los ratings de esas peliculas
for j in genre:
    print(j)
    anime[j+'_gen'] = np.where(j in anime['genre_list'], 1, 0)

Action
Adventure
Cars
Comedy
Sci_Fi
Shounen
Mecha
Sports
Demons
Drama
Ecchi
Horror
Mystery
Romance
Fantasy
Magic
Supernatural
Martial_Arts
Super_Power
Vampire
Harem
School
Historical
Kids
Military
Shoujo
Psychological
Josei
Music
Space
Seinen
Game
Parody
Police
Samurai
Hentai
Slice_of_Life
Dementia
Thriller
Shoujo_Ai
Yuri
Shounen_Ai
Yaoi
Dark_Fantasy
Idol
Sclice_of_Life

In [267]:
anime.head()

,anime_id,name,genre,type,episodes,rating,members,genre_list,Action_gen,Adventure_gen,...,Idol_gen,Sclice of Life_gen,Martial_Arts_gen,Super_Power_gen,Slice_of_Life_gen,Shoujo_Ai_gen,Shounen_Ai_gen,Dark_Fantasy_gen,Sclice_of_Life_gen,Sci_Fi_gen
0,32281,Kimi no Na wa.,"Drama, Romance, School, Supernatural",Movie,1,"9,37",200630,"[Drama, Romance, School, Supernatural]",0,0,...,0,0,0,0,0,0,0,0,0,0
1,5114,Fullmetal Alchemist: Brotherhood,"Action, Adventure, Drama, Fantasy, Magic, Mili...",TV,64,"9,26",793665,"[Action, Adventure, Drama, Fantasy, Magic,...",0,0,...,0,0,0,0,0,0,0,0,0,0
2,28977,Gintama°,"Action, Comedy, Historical, Parody, Samurai, S...",TV,51,"9,25",114262,"[Action, Comedy, Historical, Parody, Samur...",0,0,...,0,0,0,0,0,0,0,0,0,0
3,9253,Steins;Gate,"Sci-Fi, Thriller",TV,24,"9,17",673572,"[Sci-Fi, Thriller]",0,0,...,0,0,0,0,0,0,0,0,0,0
4,9969,Gintama&#039;,"Action, Comedy, Historical, Parody, Samurai, S...",TV,51,"9,16",151266,"[Action, Comedy, Historical, Parody, Samur...",0,0,...,0,0,0,0,0,0,0,0,0,0

In [268]:
anime = anime.drop(columns=['genre','genre_list'])
anime.head()

,anime_id,name,type,episodes,rating,members,Action_gen,Adventure_gen,Cars_gen,Comedy_gen,...,Idol_gen,Sclice of Life_gen,Martial_Arts_gen,Super_Power_gen,Slice_of_Life_gen,Shoujo_Ai_gen,Shounen_Ai_gen,Dark_Fantasy_gen,Sclice_of_Life_gen,Sci_Fi_gen
0,32281,Kimi no Na wa.,Movie,1,"9,37",200630,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,5114,Fullmetal Alchemist: Brotherhood,TV,64,"9,26",793665,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,28977,Gintama°,TV,51,"9,25",114262,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,9253,Steins;Gate,TV,24,"9,17",673572,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,9969,Gintama&#039;,TV,51,"9,16",151266,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [273]:
lk_anime = anime[['anime_id','name']]
lk_anime

       anime_id                                               name
0         32281                                     Kimi no Na wa.
1          5114                   Fullmetal Alchemist: Brotherhood
2         28977                                           Gintama°
3          9253                                        Steins;Gate
4          9969                                      Gintama&#039;
...         ...                                                ...
12289      9316       Toushindai My Lover: Minami tai Mecha-Minami
12290      5543                                        Under World
12291      5621                     Violence Gekiga David no Hoshi
12292      6133  Violence Gekiga Shin David no Hoshi: Inma Dens...
12293     26081                   Yasuji no Pornorama: Yacchimae!!

[12294 rows x 2 columns]

In [274]:
anime = anime.drop('name', axis=1)
anime.head()

,anime_id,type,episodes,rating,members,Action_gen,Adventure_gen,Cars_gen,Comedy_gen,Sci-Fi_gen,...,Idol_gen,Sclice of Life_gen,Martial_Arts_gen,Super_Power_gen,Slice_of_Life_gen,Shoujo_Ai_gen,Shounen_Ai_gen,Dark_Fantasy_gen,Sclice_of_Life_gen,Sci_Fi_gen
0,32281,Movie,1,"9,37",200630,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,5114,TV,64,"9,26",793665,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,28977,TV,51,"9,25",114262,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,9253,TV,24,"9,17",673572,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,9969,TV,51,"9,16",151266,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [275]:
len(anime)

12294

In [282]:
type_anime = list(anime['type'].value_counts().reset_index()['index'])
type_anime

['TV', 'OVA', 'Movie', 'Special', 'ONA', 'Music']

In [283]:
for i in type_anime:
    anime[i+'_type'] = np.where(i == anime['type'], 1, 0)

In [284]:
anime.head()

,anime_id,type,episodes,rating,members,Action_gen,Adventure_gen,Cars_gen,Comedy_gen,Sci-Fi_gen,...,Shounen_Ai_gen,Dark_Fantasy_gen,Sclice_of_Life_gen,Sci_Fi_gen,TV_type,OVA_type,Movie_type,Special_type,ONA_type,Music_type
0,32281,Movie,1,"9,37",200630,0,0,0,0,0,...,0,0,0,0,0,0,1,0,0,0
1,5114,TV,64,"9,26",793665,0,0,0,0,0,...,0,0,0,0,1,0,0,0,0,0
2,28977,TV,51,"9,25",114262,0,0,0,0,0,...,0,0,0,0,1,0,0,0,0,0
3,9253,TV,24,"9,17",673572,0,0,0,0,0,...,0,0,0,0,1,0,0,0,0,0
4,9969,TV,51,"9,16",151266,0,0,0,0,0,...,0,0,0,0,1,0,0,0,0,0

In [285]:
anime = anime.drop('type', axis=1)
anime.head()

,anime_id,episodes,rating,members,Action_gen,Adventure_gen,Cars_gen,Comedy_gen,Sci-Fi_gen,Shounen_gen,...,Shounen_Ai_gen,Dark_Fantasy_gen,Sclice_of_Life_gen,Sci_Fi_gen,TV_type,OVA_type,Movie_type,Special_type,ONA_type,Music_type
0,32281,1,"9,37",200630,0,0,0,0,0,0,...,0,0,0,0,0,0,1,0,0,0
1,5114,64,"9,26",793665,0,0,0,0,0,0,...,0,0,0,0,1,0,0,0,0,0
2,28977,51,"9,25",114262,0,0,0,0,0,0,...,0,0,0,0,1,0,0,0,0,0
3,9253,24,"9,17",673572,0,0,0,0,0,0,...,0,0,0,0,1,0,0,0,0,0
4,9969,51,"9,16",151266,0,0,0,0,0,0,...,0,0,0,0,1,0,0,0,0,0